<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title | default: "The Daily Benji" }}</title>
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="icon" href="/assets/images/benji-icon.png" />
    </head>
    <body>
        <div class="container">
            {% include header.html %} {{ content }} {% include footer.html %}
        </div>
    </body>
</html>
